{{extend 'layout.html'}}

<table>
  <tr>
    <th>Total Ballots/Voters</th><td>{{=len(ballots)}}</td>
  </tr>
  <tr>
    <th>Used Ballots/Votes:</th><td>{{=len([t for t in ballots if not t.voted_on is None])}}</td>
  </tr>
</table>

<p>
  Tokens are issued to voters when the election starts. During a vote vote the token is transfered to the ballot. The total set of tokens below should not change unless the election has been tampered with by an administrator and a new ballot has been fabricated.
</p>

<table>
  <tr>
    <th>Ballot Id</th>
    <th>Voted On</th>
  </tr>
  {{for ballot in ballots:}}
  <tr>
    <td>
      {{=A(ballot.ballot_uuid,_href=URL('receipt',args=ballot.receipt_uuid))}}
    </td>
    <td>
      {{=ballot.voted_on or 'BLANK'}}
    </td>
  </tr>
  {{pass}}
</table>
