{{extend 'layout.html'}}

<table>
  <tr>
    <th>{{=T('Total Ballots/Voters:')}}</th><td>{{=len(ballots)}}</td>
  </tr>
  <tr>
    <th>{{=T('Used Ballots/Votes:')}}</th><td>{{=len([t for t in ballots if not t.voted_on is None])}}</td>
  </tr>
</table>

<p>{{=T('Ballots are generated when the election starts and assign voters when their vote is recorded. The total set of ballots should not change unless the election has been tampered with by an administrator and a new ballot has been fabricated. The ballot UUID is compreised by an acutal UUID and the RSA signature of the UUID using the election private_key.')}}</p>

<table>
  <tr>
    <th>{{=T('Ballot Id')}}</th>
    <th>{{=T('Voted On')}}</th>
  </tr>
  {{for ballot in ballots:}}
  <tr>
    <td>
      {{=A(ballot.ballot_uuid,_href=URL('ballot',args=ballot.ballot_uuid))}}
    </td>
    <td>
      {{=ballot.voted_on or T('BLANK')}}
    </td>
  </tr>
  {{pass}}
</table>

{{import os}}
{{if os.path.exists(os.path.join(request.folder,'static','zips','%s.zip' % election.id)):}}
<a href="{{=URL('static','zips/%s.zip' % election.id)}}" class="btn">downoad ballos</a>
{{pass}}

