{{extend 'layout.html'}}

<table>
  <tr>
    <th>{{=T('Total Ballots/Voters:')}}</th><td>{{=len(ballots)}}</td>
  </tr>
  <tr>
    <th>{{=T('Used Ballots/Votes:')}}</th><td>{{=len([t for t in ballots if not t.voted_on is None])}}</td>
  </tr>
</table>

<p>{{=T('Ballots are generated when the election starts and ballot-ids are assigned to voters when their vote is cast. The enumerated collection of ballots will not change unless the election has been tampered with. The ballot UUID is comprised of an actual UUID and an RSA signature of the UUID using the election private_key.')}}</p>

<table>
  <tr>
    <th>{{=T('Ballot Id')}}</th>
    <th>{{=T('Voted On (UTC/GMT)')}}</th>
  </tr>
  {{for ballot in ballots:}}
  <tr>
    <td>
      {{=A(ballot.ballot_uuid,_href=URL('ballot',args=ballot.ballot_uuid))}}
    </td>
    <td>
      {{=ballot.voted_on or T('BLANK')}}
    </td>
  </tr>
  {{pass}}
</table>

{{import os}}
{{if os.path.exists(os.path.join(request.folder,'static','zips','%s.zip' % election.id)):}}
<a href="{{=URL('static','zips/%s.zip' % election.id)}}" class="btn">{{=T('Downoad Ballots')}}</a>
{{pass}}

