{{extend 'layout.html'}}

{{=form.custom.begin}}
<div class="container max900">
  <div class="fill">
    <div class="padded">
      <h3>Create/Edit Election</h3>
    </div>
  </div>
</div>
<div class="container max900">
  <div class="fill">
    <div class="padded">
      {{=form.custom.widget.title}}
    </div>
  </div>
</div>
<div class="container max900">
  <div class="fill">
    <div class="padded">
      <h5>{{=T('Ballot')}}</h5>
      <div id="target-ballot" style="background-color:#f1f1f1">
        <div v-for="(question, q) in questions">
          <div>
            <textarea style="border: 2px solid #f1f1f1" 
                      v-model="question.preamble"></textarea>
          </div>
          <div style="padding-left:50px">            
            <label>Algorithm</label>
            <select v-model="question.type" style="width:200px">
              <option v-for="algorithm in algorithms"
                      v-bind:value="algorithm" v-html="algorithm"></option>
            </select>
            Randomize? <input type="checkbox" v-model="question.randomize"/>
            Comments? <input type="checkbox" v-model="question.comments"/>
            <table style="width:100%">
              <tbody>
                <tr v-for="(answer, a) in question.answers">
                <td><input v-model="question.answers[a]"></td>
                <td><button v-on:click.prevent="delete_answer(q, a)">delete</button></td>
              </tr>
              <tr>
                <td><button v-on:click.prevent="append_answer(q)">new answer</button></td>
                <td><button v-on:click.prevent="delete_question(q)">delete question</button></td>
              </tr>
              </tbody>
            </table>            
          </div>
        </div>
        <center>
          <button v-on:click.prevent="append_question()">new question</button>
        </center>
      </div>
      <div style="display:none">
        {{=form.custom.widget.ballot_model}}
      </div>
    </div>
  </div>
</div>
<div class="container max900">
  <div class="half">
    <div class="padded">
      <h5>{{=T('Voters')}}</h5>
      <p>{{=T('List of emails of voters.')}}</p>
      {{=form.custom.widget.voters}}
    </div>
  </div>
  <div class="half">
    <div class="padded">
      <h5>{{=T('Managers')}}</h5>
      <p>{{=T('List of emails of election managers')}}</p>
      {{=form.custom.widget.managers}}
    </div>
  </div>
</div>
<div class="container max900">
  <div class="fill">
    <div class="padded">
      <h5>{{=T('Deadline')}}</h5>
      <p>{{=T('Results will be public after the deadline (UTC/GMT time)')}}</p>
      {{=form.custom.widget.deadline}}
    </div>
  </div>
</div>
<div class="container max900">
  <div class="fill">
    <div class="padded">
      <h5>{{=T('Text of email with voting link')}}</h5>
      {{=form.custom.widget.vote_email}}
    </div>
    <div class="padded">
      <h5>{{=T('Text of email for voting receipt')}}</h5>
      {{=form.custom.widget.voted_email}}
    </div>
    <div class="padded">
      <h5>{{=T('Text of email for non-voters')}}</h5>
      {{=form.custom.widget.not_voted_email}}
    </div>
    <div class="padded">
      <h5>{{=T('Email sender')}}</h5>
      {{=form.custom.widget.email_sender}}
    </div>
    {{if form.custom.deletable:}}
    <div class="padded">
      <h5>{{=T('Delete?')}} {{=form.custom.deletable}}</h5>
    </div>
    {{pass}}  
    <div class="padded">
      {{=form.custom.submit}}
      {{=form.custom.end}}
    </div>
  </div>
</div>

<script type="text/javascript" src="{{=URL('static','js/vue.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','js/custom.js')}}"></script>
