{{
response.files.append(URL('static','cleditor/jquery.cleditor.css'))
response.files.append(URL('static','cleditor/jquery.cleditor.min.js'))
response.files.append(URL('static','cleditor/jquery.cleditor.table.min.js'))
}}
{{extend 'layout.html'}}

{{=form.custom.begin}}
<div class="container max900">
  <div class="fill">
    <div class="padded">
      <h3>Create/Edit Election</h3>
    </div>
  </div>
</div>
<div class="container max900">
  <div class="fill">
    <div class="padded">
      {{=form.custom.widget.title}}
    </div>
  </div>
</div>
<div class="container max900">
  <div class="fill">
    <div class="padded">
      <h5>{{=T('Ballot')}}</h5>
      <p>{{=T('This is the text of the ballot. %s %s %s ..., add INPUT radio boxes. Radio boxes with the same number correspond to exclusive options.') % ('{'*2+'0'+'}'*2,
        '{'*2+'1'+'}'*2,'{'*2+'2'+'}'*2)}}</p>
      {{=form.custom.widget.ballot_model}}
    </div>
  </div>
</div>
<div class="container max900">
  <div class="half">
    <div class="padded">
      <h5>{{=T('Voters')}}</h5>
      <p>{{=T('List of emails of voters.')}}</p>
      {{=form.custom.widget.voters}}
    </div>
  </div>
  <div class="half">
    <div class="padded">
      <h5>{{=T('Managers')}}</h5>
      <p>{{=T('List of emails of election managers')}}</p>
      {{=form.custom.widget.managers}}
    </div>
  </div>
</div>
<div class="container max900">
  <div class="fill">
    <div class="padded">
      <h5>{{=T('Deadline')}}</h5>
      <p>{{=T('Results will be public after the deadline (UTC/GMT time)')}}</p>
      {{=form.custom.widget.deadline}}
    </div>
  </div>
</div>
<div class="container max900">
  <div class="fill">
    <div class="padded">
      <h5>{{=T('Text of email with voting link')}}</h5>
      {{=form.custom.widget.vote_email}}
    </div>
    <div class="padded">
      <h5>{{=T('Text of email for voting receipt')}}</h5>
      {{=form.custom.widget.voted_email}}
    </div>
    <div class="padded">
      <h5>{{=T('Text of email for non-voters')}}</h5>
      {{=form.custom.widget.not_voted_email}}
    </div>
    <div class="padded">
      <h5>{{=T('Email sender')}}</h5>
      {{=form.custom.widget.email_sender}}
    </div>
    {{if form.custom.deletable:}}
    <div class="padded">
      <h5>{{=T('Delete?')}} {{=form.custom.deletable}}</h5>
    </div>
    {{pass}}  
    <div class="padded">
      {{=form.custom.submit}}
      {{=form.custom.end}}
    </div>
  </div>
</div>

<script type="text/javascript">
jQuery(function() {
  jQuery("#election_ballot_model").cleditor({width: '100%'})[0].focus();
});
</script>

