{{
response.files.append(URL('static','cleditor/jquery.cleditor.css'))
response.files.append(URL('static','cleditor/jquery.cleditor.min.js'))
response.files.append(URL('static','cleditor/jquery.cleditor.table.min.js'))
}}
{{extend 'layout.html'}}

{{=form.custom.begin}}
<table>
  <tr>
    <td colspan="2">{{=form.custom.widget.title}}</td>
  </tr>
  <tr>
    <td colspan="2">
      <h3>Ballot</h3>
      <p>This is the text of the ballot. {&#8203;{0}&#8203;} {&#8203;{1}&#8203;} {&#8203;{2}&#8203;} ..., add INPUT radio boxes. Radio boxes with the same number are exclusive.</p>
      {{=form.custom.widget.ballot}}
    </td>
  </tr>
  <tr>
    <td><h3>Voters</h3>
      <p>List of emails of voters.</p>
      {{=form.custom.widget.voters}}</td>
    <td><h3>Managers</h3>
      <p>List of emails of election managers</p>
      {{=form.custom.widget.managers}}</td>
  </tr>
  <tr>
    <td colspan="2"><h3>Deadline</h3>
      <p>Results will be public after the deadline</p>
      {{=form.custom.widget.deadline}}</td>
  </tr>
  {{if form.custom.widget.deletable:}}
  <tr>
    <td colspan="2"><h3>Delete? {{=form.custom.widget.deletable}}</h3></td>
  </tr>
  {{pass}}  
  <tr>
    <td colspan="2">{{=form.custom.submit}}</td>
  </tr>
</table>
{{=form.custom.end}}

<script type="text/javascript">
jQuery(function() {
  jQuery("#election_ballot").cleditor({width: '100%'})[0].focus();
  jQuery("#election_voters").css({width:'300px'});
  jQuery("#election_managers").css({width:'300px'});
});
</script>


