{{extend 'layout.html'}}

{{if ballots:}}
<h2>Elections waiting for your vote</h2>

<table class="table">
  {{for ballot in ballots:}}
  <tr>
    <td>
      {{=ballot.election.title}} ({{=ballot.election.id}})
    </td>
    <td>
      <a class="btn" href="{{=URL('vote',args=(ballot.election.id,ballot.voter.voter_uuid))}}">Vote</a>
    </td>
  </tr>
  {{pass}}
</table>
{{pass}}

<h2>Election you manage</h2>

<table class="table">
  <tr>
    <td colspan="2">{{=A(T('Create New'),_href=URL('edit'),_class="btn")}}</td>
    <td></td>
    <td></td>
  </tr>
  {{for row in elections:}}
  <tr style="vertical-align:middle"> 
    {{if row.deadline and row.deadline<request.now:}}
    <td style="color:red; vertical-align:middle">[closed]</td>
    {{else:}}
    <td style="color:green; vertical-align:middle">[open]</td>
    {{pass}}
    <td style="vertical-align:middle"><b>{{=row.title}}</b></td>
    <td>
      {{=A(T('Start'),_href=URL('start',args=row.id),_class="btn")}}
      {{=A(T('Remind'),_href=URL('reminders',args=row.id),_class="btn")}}
      {{=A(T('Close'),_href=URL('close_election',args=row.id),_class="btn")}}
      {{=A(T('Ballots'),_href=URL('ballots',args=row.id),_class="btn")}}
      {{=A(T('Results'),_href=URL('results',args=row.id),_class="btn")}}
      {{=A(T('CSV Voters'),_href=URL('voters_csv.csv',args=row.id),_class="btn")}}
      {{=A(T('Edit'),_href=URL('edit',args=row.id),_class="btn")}}
    </td>    
  </tr>
  {{pass}}
</table>
