{{
response.files.append(URL('static','cleditor/jquery.cleditor.css'))
response.files.append(URL('static','cleditor/jquery.cleditor.min.js'))
response.files.append(URL('static','cleditor/jquery.cleditor.table.min.js'))
}}
{{extend 'layout.html'}}

<h2>Management Interface</h2>

<h3>Info</h3>

<b>ballot</b> is the text of the ballot. {{0}} {{1}} {{2}} ..., add INPUT radio boxes. Radio boxes with the same number are exclusive. <b>votes</b> is a list of emails (one per line) who will be asked to vote using the ballot. <b>emails</b> is a list of emails (one per line) who will be notified when a new vote is recorded. Voting is anonymous and verifiable. Results become public when the election is closed.
{{if '/'.join(request.args[:2]) in ('election/edit','election/new'):}}{{pass}}

{{=grid}}

<script type="text/javascript">
jQuery(function() {
  jQuery("#election_ballot").cleditor({width: '100%'})[0].focus();
  jQuery("#election_voters").css({width:'300px'});
  jQuery("#election_emails").css({width:'300px'});
});
</script>
