{{extend 'layout.html'}}

<div class="container max900">
  <div class="fill">
    <div class="padded">
      {{if auth.user.is_manager:}}
      <h3>Create a new election</h3>
      {{=A(T('New Election'),_href=URL('edit'),_class="btn")}}
      {{pass}}
      
      <h2>My Elections</h2>

      {{if ballots:}}
      <h4>Elections requiring your vote</h4>
      <table class="fill">
        {{for ballot in ballots:}}
        <tr>
          <td>
            <i class="icon-folder-close"></i>
            {{=ballot.election.title}} ({{=ballot.election.id}})
          </td>
          <td>
            Created on {{=ballot.election.created_on}}
          </td>
          <td>
            <a class="btn" style="float:right" href="{{=URL('vote',args=(ballot.election.id,ballot.voter.voter_uuid))}}">Vote</a>
          </td>
        </tr>
        {{pass}}
      </table>
      {{else:}}
      <h4>No elections require your vote</h4>
      {{pass}}

      {{if elections:}}
      <h4>Elections managed by you</h4>

      <table class="fill">
        {{for election in elections:}}
        <tr>
          <td>
            <i class="icon-folder-close"></i> {{=election.title}}
            {{if election.deadline and election.deadline<request.now:}}
            <span class="election-closed">closed</span>
            {{else:}}
            <span class="election-open">open</span>
            {{pass}}
          </td>
          <td>
            Created on {{=election.created_on}}
            {{if election.closed:}}(closed){{pass}}
          </td>
          <td class="right">    
            <ul class="menu">
              <li><a class="btn">Action ▼</a>
                <ul>
	          {{if not election.closed:}}
	          {{=LI(A(I(_class='icon-edit'),' ',T('Edit Election'),_href=URL('edit',args=election.id)))}}
	          {{=LI(A(I(_class='icon-play-circle'),' ',T('Start Election'),_href=URL('start',args=election.id)))}}
	          {{=LI(A(I(_class='icon-envelope'),' ',T('Send Reminder'),_href=URL('reminders',args=election.id)))}}
	          {{=LI(A(I(_class='icon-off'),' ',T('Close Election'),_href=URL('close_election',args=election.id)))}}
	          {{pass}}
	          {{=LI(A(I(_class='icon-folder-open'),' ',T('Ballots'),_href=URL('ballots',args=election.id)))}}
	          {{=LI(A(I(_class='icon-list'),' ',T('Results'),_href=URL('results',args=election.id)))}}
	          {{=LI(A(I(_class='icon-download'),' ',T('CSV Voters'),_href=URL('voters_csv.csv',args=election.id)))}}
                </ul>
              </li>
            </ul>
          </td>
        </tr>
        {{pass}}
      </table>
      {{else:}}
      <h4>There are no elections managed by you</h4>
      {{pass}}
    </div>
  </div>
</div>


