{{extend 'layout.html'}}

<h1>E-Vote Features</h1>

<center>
  <a class="btn btn-primary" href="{{=URL('static','evote_user_manual.pdf')}}">
    <i class="glyphicon glyphicon-download"></i> Download Manual</a>
</center>

<ul>
<li>The system is open source and anybody can check the source code. The code is small and written in the Python language. This makes it easy for professionals in the field to check it.</li>
<li>The system can run as a service and one installation can run mutiple elections. Anybody can login into the system, create a new election, register voters and managers, and customize the ballot using an easy to use WYSIWYG interface.</li>
<li>The system communicates with voters and managers by email.</li>
<li>Voters do not need to login into the system to vote. They only need to click on the link in the notification email, fill a web form and submit.</li>
<li>Each voter can only vote once per election.</li>
<li>Results are computed automatically at closing of the election and published.</li>
<li>Voting is completely anonymous. Even a hacker with a complete database dump of the system would not be able to link voters to ballots.</li>
<li>Each voter can check at any time that his vote has been properly recorded and not altered.</li>
<li>Each voter can independently and at any time perform an election recount.</li>
<li>Upon voting, each voter receives an email receipt containing a copy of their filled and anonymized ballot.</li>
<li>Managers are notified by email when a new vote is cast and receive a copy of the anonymized ballot.</li>
<li>All ballots, anonymized and digitally signed, are published, along with instructions to verify the digital signature.</li>
</ul>

