{{extend 'layout.html'}}

<center>
<h1>Free Secure Trusted Verifiable Online Voting</h1>
</center>

<div style="height:50px"></div>

<div class="row show-grid hero-list features-list">
  <div class="span3">
    <h3>Easy to Use</h3>
    <p>You can create one or many polls/elections, customize ballots, and we run the elections.
      <a href="{{=URL('features')}}">Learn more&nbsp;&raquo;</a>
    </p>
  </div>
  <div class="span3">
    <h3>Security Engine</h3>
    <p>We run the polls/elections online in an anonymous and verifiable manner using the latest security technologies.
      <a href="{{=URL('features')}}">Learn more&nbsp;&raquo;</a>
    </p>
                </div>
  <div class="span3">
    <h3>Email Notifications</h3>
    <p>Voting links, reminders, receipts, and notifications are sent by emails. 
      <a href="{{=URL('features')}}">Learn more&nbsp;&raquo;</a>
    </p>
  </div>
  <div class="span3">
    <h3>Quick Interaction</h3>
    <p>One click actions make the voting process simple without need to create accounts or navigate multiple pages.
      <a href="{{=URL('features')}}">Learn more&nbsp;&raquo;</a>
    </p>
  </div>
</div>
