<p>Check the emails of the voters you want to re-send links to. By default voters who voted are un-checked.</p>

{{=A('Back to Edit',_href=URL('edit',args=election.id),_class="btn")}}
<button class="btn" onclick="jQuery('form').find(':checkbox').attr('checked', 'checked')">Check all</button>
<button class="btn" onclick="jQuery('form').find(':checkbox').attr('checked', false)">Uncheck all</button>

<h4>{{=T('Voters who have not yet voted')}}</h4>

{{form.element('input[type=submit]').add_class('btn btn-primary')}}
{{=form}}

{{if failures:}}
<h4>{{=T('We failed to email the following voters')}}</h4>
<ul>
  {{for failure in failures:}}
  <li style="color:red">{{=failure}}</li>
  {{pass}}
</ul>
{{pass}}

<script>
  jQuery('input[type=submit]').click(function(){
    jQuery('#demo, #target form, #target a').hide();
    jQuery('#target').append('<h4>Processing... please wait and do not reload<h4><img src="{{=URL('static','images/wait.gif')}}" align="center"/>');
  });
</script>
