{{=form.custom.begin}}
{{=form.custom.submit}}
{{=A('Back to Edit',_href=URL('edit',args=election.id),_class="btn right")}}
{{=form.custom.end}}

{{if failures:}}
<h4>{{=T('We failed to email the following voters')}}</h4>
<ul>
  {{for failure in failures:}}
  <li style="color:red">{{=failure}}</li>
  {{pass}}
</ul>
{{pass}}

<script>
  jQuery('input[type=submit]').click(function(){
    jQuery('#demo, #target form, #target a').hide();
    jQuery('#target').append('<h2>Processing... please wait and do not reload<h2><img src="{{=URL('static','images/wait.gif')}}" align="center"/>');
  });
</script>
