body.dragging, body.dragging * {
  cursor: move !important;
}
li.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
  list-style-type: none;
}
li.ranking-option {list-style-type: none;}
ul li.ranking-option {
  background-color: #e1e1e1;
  margin-bottom: 5px;
  border: 1px solid black;
  padding: 2px 5px;
}
ul li.ranking-option.placeholder {
  position: relative;
}
ul li.ranking-option.placeholder:before {
  position: absolute;
}